{##
 # Header component
 # @param {object} logo
 # @param {modules\components\models\Link} links
 #}

{# Params #}
{% set logo = logo|default(null) %}
{% set links = links|default([]) %}
{% set summary = summary|default('You\'re Not Alone') %}

{# Variables #}
{% set id = craft.components.uniqueId() %}
{% set handle = 'header' %}

{# Markup #}
{% import '_macros/components' as components %}

<div id="{{ id }}" class="{{ handle }}">
    <input type="checkbox" id="nav-toggle" name="nav-toggle" style="display:none" aria-hidden="true" />
    <div class="{{ handle }}__logo-cont">
        <a href="/" title="Home">
            {% if logo %}
                <img src="{{ logo.url }}" alt="{{ logo.title }}" />
            {% else %}
                {{ siteName }}
            {% endif %}
        </a>
    </div>
    <div class="{{ handle }}__drawer-cont">
        <p>{{ summary }}</p>
        <nav>
            {% for l in links %}
                {{ l.render() }}
            {% endfor %}
        </nav>
    </div>
    <div class="{{ handle }}__toggle-cont">
        <label for="nav-toggle">
            <span></span><span></span>
        </label>
    </div>

    {{ components.new(handle, {
        id: id,
    }) }}
</div>
